<!-- Partial for creating or editing a new household -->

<%=  form_for @household do |f| %>
  <fieldset>
    <div>
      <%=  f.label :household_name %>
      <%=  f.text_field :name %>
    </div>
  </fieldset>
  <%=  f.submit "Submit" %>
<% end %>
