<!-- Edit a household name or delete a household if they are a current household member -->

<h1><%= "Edit #{@household.name}" %></h1>

<%= render 'form' %>
<p></p>
<%= link_to 'Back to Household', household_path(@household) %>

<p></p>
<% if current_user.household_id == @household.id %>
<%= link_to 'Delete Household', household_path(@household), :method => :delete %>
<% end %>