<h1>All Households</h1>

<ul>
  <% @households.each do |household| %>
    <li>
      <%= link_to household.name, household_path(household) %>
    </li>
  <% end %>
</ul>
<p></p>
<%= link_to 'Home', root_path %>